################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Last.fm Scrobbler/.vs
*.nupkg
